<partial name="partial/_Slider"/>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <partial name="partial/_LeftSideBar"/>
            </div>

            <div class="col-sm-9 padding-right">
                <partial name="partial/_Products" />

                <partial name="partial/_CategoryTab" />

                <partial name="partial/_RecommendedItems" />
            </div>
        </div>
    </div>
</section>