<ul class="nav navbar-nav collapse navbar-collapse">
    <li><a asp-controller="Home" asp-action="Index" class="active">Home</a></li>
    <li class="dropdown">
        <a asp-controller="Shop" asp-action="Index">Магазин<i class="fa fa-angle-down"></i></a>
        <ul role="menu" class="sub-menu">
            <li><a asp-controller="Catalog" asp-action="Index">Каталог</a></li>
            <li><a asp-controller="ProductDetails" asp-action="Index">О товаре</a></li>
            <li><a asp-controller="CheckOut" asp-action="Index">Оформить заказ</a></li>
            <li><a asp-controller="Cart" asp-action="Index">Корзина</a></li>
            <li><a asp-controller="Login" asp-action="Index">Вход</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a asp-controller="Blog" asp-action="Index">Блог<i class="fa fa-angle-down"></i></a>
        <ul role="menu" class="sub-menu">
            <li><a asp-controller="Blog" asp-action="Index">Список блогов</a></li>
            <li><a asp-controller="BlogSingle">Блог магазина</a></li>
        </ul>
    </li>
    <li><a href="#">404</a></li>
    <li><a asp-controller="ContactUs" asp-action="Index">Контакты</a></li>
    <li><a asp-controller="Employees" asp-action="Index">Сотрудники</a></li>
</ul>