
@model GB_lessons.Models.Employee

@{ 
    ViewData["Title"] = "Сотрудник";
}

<div class="container">
    <h1>Сотрудник</h1>
    <p>ФИО: @(Model.LastName + " " + Model.FirstName)</p>
    <p>Дата рождения: @Model.DateOfBirth.Date.ToShortDateString()</p>
    <p>Должность: @Model.Position</p>
    <p>Заработная плата: @Model.Salary</p>
    <br />
    <a asp-action="Index">К списку</a>
</div>