<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <partial name="partial/_LeftSideBar"/>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="product-details">
                    <partial name="partial/_ProductsDetails" />
                </div><!--/product-details-->

                <div class="category-tab shop-details-tab">
                    <partial name="partial/_ShopDetailsTab" />
                </div><!--/category-tab-->

                <div class="recommended_items">
                    <partial name="partial/_RecommendedItems"/>
                </div><!--/recommended_items-->

            </div>
        </div>
    </div>
</section>
