<section id="cart_items">
    <div class="container">
        <partial name="partial/_CartItems"/>
    </div>
</section> <!--/#cart_items-->

<section id="do_action">
    <div class="container">
        <partial name="partial/_DoActions" />
    </div>
</section><!--/#do_action-->
